*{
    margin : 0;
    padding : 0;
    list-style : none;
    text-decoration : none;
    color : #424242;
}

html,body{
    font-family : "Helvetica Neue",Helvetica,Arial,sana-serif;
    color : #333;
    line-height : 1.428571429;
    margin : auto;
    /*width : 1200px;*/
}
/*时间登录注册*/
.htop{
    height: 40px;
    background-image: linear-gradient(-360deg, #ccc, #fff);
    position : relative;
    z-index: 9999;
}
.htop-l{
    color : #999;
    line-height : 40px;
    position : absolute;
    padding-left: 10px;
}
.htop-r{
    float : right ;
    line-height : 40px;
}
.htop-r ul li a{
    color : #424242;
}
a{
    padding-right: 10px;
}

/*导航栏*/
.list-item{
    float : left;
    margin : 0 43px;
    height : 47px;
}
.list-item a{
    color : #fff;
    font-size : 20px;
    font-weight : 700;
    display : inline-block;
    padding : 0 5px;
}
.list-item a:hover{
    text-decoration : none;
    color : #fff;
}

                          /*内容区*/

.home-body{
    margin-top:-40px;
}

.footer{
    /*margin-bottom:50px;*/
    /*margin-top : 40px;*/
    /*text-align : center;*/
    position: fixed;
    bottom: 50px;
    text-align: center;
    width: 100%;
}







